@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    /*outline: dotted 2px red;*/
    font-family: "Roboto";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.menu {
    display: flex;
    padding-bottom: 50px;

}
nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 22px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.164);
}
nav > ul {
    display: flex;
}
nav > ul > li {
    list-style: none;
    padding: 10px;
    font-size: 19px;
}
nav > ul > li:hover {
    color:#268c2b;
    border-color: black;
    cursor: pointer;
}

aside {
   
   align-content: center;
   width: 30%;
   padding-left: 15px;
   padding-right: 15px;
  
}
aside > button {
    background-color: #37268C;
    color: #fff;
    width: 25%;
    padding: 10px;
}
aside > input {
    padding: 10px;
    width: 70%;
    background-color: #F5F5F5;
    margin-right: 15px;
    margin-bottom: 30px;
}
aside > section > p {
    display: flex;
    justify-content: center;
    width: 100%;
    background-color: #37268C;
    color: #fff;
    font-size: 25px;
    padding: 20px;
    
}

aside > section > ul > {
    border: 1px solid black;
    background-color: #F5F5F5;
    display: flex;
    
}

.carrinho-vazio{
    display: flex;
    font-weight: bold;
    justify-content: center;
    color: black;
    font-size: 25px;
    padding: 80px 50px 5px 50px
}

.adicione-itens {
    display: flex;
    justify-content: center;
    color: black;
    font-size: 15px;
    padding: 5px 50px 80px 50px
}



aside > section > ul > li {
    display: flex;
    list-style: none;
    padding: 20px;
}


aside > section > ul > li > img {
    background-color: #fff;
}

aside > section > ul > li > div{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding-left: 20px;
    font-size: 20px;
    }

aside > section > ul > li > div > button {
    background-color: #F5F5F5;
    border: none;
    font-size: 16px;
}

aside > section > ul > li > div > button:hover{
    cursor: pointer;
    color: #37268C;
    
}

.section-descriCart {
    background-color: black;
    color: #fff;
    width: 100%;
    
}
aside>section > div {
    display: flex;
    justify-content: space-between;
    padding: 30px;
    width: 100%;

}

main {
    display: flex;
    padding: 15px;
}

main> ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 15px;
    width: 80%
}

main > ul > li {
    list-style: none;
    width: 25%;
    padding: 20px;
    border: 1px rgb(214, 214, 214) solid;
}
main>ul>li:hover {
    border: 2px solid #37268C;

}
main > ul > li > img{
    background-color: #F5F5F5;
    width: 100%;
}
main > ul > li > button {
    background-color: #fff;
    border: none;
    font-size: 15px;
    padding: 10px 1px;
    border-radius: 5px;
    cursor: pointer;
}
main > ul > li > h4 {
    padding-bottom: 9px;
}

main > ul > li > p {
    padding-bottom: 12px;
}


.product-description {
background-color: #37268C;
width: 27%;
color: #fff;
margin-top: 19px;
margin-bottom: 19px;
padding: 5px;
border-radius: 2px;
}

.addToCart:hover{
 background-color: #37268C;
 color: #fff;
}

aside > section > div {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: #fff;
    width: 300px;
    padding: 20px;
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 20px;
}

aside > section > ul {
    background-color: #F5F5F5;
}

aside > section > ul> li > img {
    background-color: #fff;
}